/* resetting to normal */
  				 *{ 
		     margin:0 ; 
              padding:0;
 			 box-sizing:border-box;
				 }
				body {
width: 100%;
 height: 100vh;
 background: linear-gradient(320deg,navy,red,navy,red, navy) ;
 background-repeat: no-repeat;
         background-position: fixed;
         background-attachment: center;
         background-size: 100%;
		height:auto;
}
/*HEADER STYLING FOR ALL PAGES*/
/* header and navbar styling starts here */
		.header{
			width:100%;
			height:120px;
	background:rgba(192, 192,192,0.3);
			}
		.tagline{
				padding-top: 10px;
				text-align:center;
				letter-spacing:8px;
				font-size: 1.3em;
				color: rgba(128,128,128,0.8);
				}
		
		/*header h2 237rapcity*/
			.header h2{
text-align: center;
		text-transform:uppercase;
		font-size:1.5em;
    padding-top: 30px;
color: bisque;
		}
		
		.header h2:hover{
			font-weight:100;
			color: rgba(43, 33, 33, 0.719);
			text-transform: capitalize;
	text-shadow:2px 3px 4px aqua, 2px 3px 4px cyan;
			}
			
			
			 .navbar{
 border:1px solid cyan;
width: 100%;
 height:auto;
 border-radius:5px;
 background:rgba(192, 192,192,0.3) ;
 }
      
				/* making fit screen to end*/
				.navbar ul{
					list-style-type: none;/*remove bullets*/
					  display:flex;
					align-items:center;
					justify-content: space-between; 
					width:100%;
padding: 10px;
					}
					/* removing underlined*/
					.navbar a{
						text-decoration:none;
						color:white;
						text-transform: capitalize;
						font-weight:200;
padding: 5px;
						 }
				.navbar ul li{
					border-radius:5px;
		background:rgba(192, 192,192,0.3) ;
					padding:5px;
				}
/* NAVBAR STYLING END HERE*/
/*STYLING FOR OTHER PARTS DOWN HERE*/

 .introhof{
 margin:15px;
 height:auto;
 border-radius:10px;
 background:rgba(192, 192,192,0.4) ;
 }
 .introhof p{
 	font-size: 1.2em;
 color:white;
 font-weight:150;
 letter-spacing:1px;
 line-height:1.2;
padding: 10px;
 }
 
 /* STYLING FOR KHOF SUBNAVBAR*/
 .subbar{
 border:1px solid cyan;
 margin:8px;
 height:160px;
 border-radius:15px;
 background:rgba(192, 192,192,0.3) ;
 }
             .subbar{
			background:rgba(192, 192,192,0.3) ;
				align-items:center;
				height:60px;
				}
				/* making fit screen to end*/
				.subbar ul{
					list-style-type: none;/*remove bullets*/
					  display:flex;
					align-items:center;
					justify-content: space-around; 
					width:100%;
					padding-top:13px;
					margin: 0;
					
					}
					/* removing underlined*/
					.subbar a{
						text-decoration:none;
						color:white;
						text-transform:uppercase;
						font-weight:300;
						 }
						.subbar ul li a:visited{
							background: white;
							color: black
                         border-radius:3px;
							}
				.subbar ul li{
					border-radius:5px;
		background:rgba(192, 192,192,0.5) ;
					padding:5px;
					}
				.subbar ul li a{
					padding:5px;
					}
		/*HOVER EFFECT*/
						.subbar ul li:hover{
							border-radius:5px;
		box-shadow: 0 5px 10px 0 aqua, 0 5px 11px 0 pink;
							transform: translateY(-5px);
							}
						
.pagename{
 display:flex;
 background:rgba(192, 192,192,0.7) ;
 justify-content:center;
 }
 .pagename p{
 	text-align:center;
 font-size: 1.3em;
 font-weight:150;
 padding:10px;
 margin:1px;
 color:white;
 }
@media(min-width: 300px){
	.subbar ul li{
		padding:0;
		
	}
	.subbar ul li a{
		font-size: 1em;
		padding: 25px 8px;
		text-transform: capitalize;
	}
	
}
/*END OF STYLING FOR KHOF SUBNAVBAR*/
    h4{
							text-align:center;
							font-size: 1.5em;
							font-weight:100;
							padding:10px;
							margin: 40px auto;
							color:white;
							background:grey;
						}
				





/* start of rap artist page stylix */
     .rapart{
padding: 3px 3px 3px 3px;
	width: 100%;
	height:auto;
     }
     		.artcard { 
box-shadow: 0 7px 10px 0 aqua, 0 7px 21px 0 pink; 
				 width:100%;
				 margin:30px  0 ; 
				 border-radius:30px;
				 } 
								.artname{
									color:white;
					padding: 5px; 
					font-size: 1.5em;
					 text-align: center;
					letter-spacing:1px;
					font-weight:500;
background:rgba(192, 192,192,0.5) ;
					 border-radius:0 0 30px 30px;
									width: 100%;
									} 
						.artcard > img { 
							width: 100%; 
							height: auto; 
							border-radius:20px 20px 1px 1px; 
								}
/*featured video card img as link styling*/
.fcard a img{
	max-width:100%;
	height:auto;
	}
/*featured div*/
.fpart{
width: 100%;
height: auto;
	display:flex;
 justify-content: center;
align-content: center;
flex-wrap: wrap;
     }
     .fpart > .fcard { 
width: 200px;
height: auto;
margin: 15px auto;
box-shadow: 0 7px 10px ; 
				 font-family: sans-serif;
				 border-radius:10px;
				 } 

								.fname{
									color:white;; 
					font-size: 1em;
					padding:3px;
					 text-align: center;
					font-weight:400;
background:rgba(192, 192,192,0.8) ;
					 border-radius:0 0 10px 10px;
									width: 100%;
height: auto;
									} 
						.fcard img { 
						width: 100%; 
							height: 100%; 
border-radius: 10px 10px 0 0;
							}

/*featured videos video styling*/ 
video{
width: 100%;
height: 100%;
border-radius: 30px 30px  0  0;
}
			  .vidpart{
    display:flex;
    justify-content:center;
flex-wrap: wrap;
	width: 100%;
	height:auto;
     }
     		.vidcard { 
box-shadow: 0 0 50px ; 
				width: 350px;
height: 250px;
				 border-radius:30px;
   margin: 40px auto;
				 } 
								.vidname{
						color:white;
					padding: 5px; 
					font-size: 1.5em;
					 text-align: center;
					letter-spacing:2px;
					font-weight:400;
background:rgba(192, 192,192,0.8) ;
					 border-radius:0 0 18px 18px;
									width: 100%;
cursor: pointer;
									} 
						.vidcard  iframe{ 
							width: 100%; 
							height: 100%; 
							border-radius:20px 20px 1px 1px; 
								} 
								
 .relpost,#NASOCIAL{
 border:2px solid cyan;
 margin:15px  25px;
 height:auto;
 border-radius:15px;
 background:rgba(192, 192,192,0.5) ;
 }
 .relpost h3, #NASOCIAL h3{
 	padding:8px;
    font-size: 1.2em;
    font-weight:100;
    color:white;
 }
 #NASOCIAL{
 border:1px solid rgb(213, 223, 223);
 margin:35px 25px;
box-shadow: 5px  10px 1px black;
 }
 
 .NA{
 	border:1px solid black;
 margin:15px;
 text-align: center;
 background:rgba(255, 192, 203, 0.842);
 height:90px;
 }
				.fa{
			padding:10px;
			margin:5px;
			font-size: 2em;
			}
		.NASOCIAL a{
			text-decoration:none;
			}
			.fa:hover{
			transform: translateY(-4px);
				color:red;
				}
				/* END OF RAP KNOW PAGE STYLING*/
 				
     					/* footer styling start*/
					 footer{
									background:rgba(0,0,0,0.4) ;
									}
						footer h5{
							text-align:center;
							font-size: 1.5em;
							font-weight:100;
							padding:8px;
							color:white;
background: rgba(0, 0, 0, 0.712);
padding: 10px;
letter-spacing: 5px;
						}
						
						footer h5 .red{
							color:#df2359;
font-weight: 100;
							}
							footer .tag{
							text-align:center;
							font-size: 1.2em;
							font-weight:100;
							color:white;
							letter-spacing:8px;
						}
		h6 {
				font-size:1em;
				font-weight:100;
				text-align:left;
				color:white;
box-shadow: 1px 5px 1px;
margin: 12px  155px 12px  1px ;
padding: 8px;
				}
				
					.otherinfo, p{
						padding: 18px;
						}
						.otherinfo p a{
							text-decoration:none;
							color:white;
							}
							.otherinfo p a:focus{
								color:green;
								}
					.otherinfo p::before {
         content: "> ";
         color: white;
font-size: 0.6em;
      }
     .copyright{
     	background:black;
     }
     .copyright p{
     	font-size:1em;
     text-align:center;
     color:white;
     }
      .red{
     	color:#df2359;
     font-weight:200;
     }
     .navy{
     	color:navy;
     font-weight:400;
     opacity:0.6;
     }
     
     
			/* FOOTER STYLING ends here */

 /* end of footer styling*/
 /*media query*/
 @media(min-width:700px) {
.rapart{
					display:flex;
					justify-content:space-around;
					flex-wrap:wrap;
					width:auto;
					height:auto;
                     }             .artcard{
										display:flex;
										justify-content:space-between;
										flex-wrap:wrap;
										width:35%;
										height:auto;
										text-align:center;
																}
.vidcard{
width: 500px;
height: 500px;
}
    .vidcard iframe{
width: 100%;
height: 100%;
}
																
 }
 
 
 /*TOP 10 AUDIO STYLING*/
 